
 <div>
   <input type="text" id="chatBox">
 </div>
 <div>
   <p id="messagesLogs"></p>
 </div>
 
 <h1>Real Time Products</h1>
 <div id="contenedorProductos"></div>

 <h2>Formulario</h2>
 <form>
    Titulo: <input type="text" id="title" placeholder="Titulo"> <br>
    Categoria: <input type="text" id="category" placeholder="Categoria"> <br>
    Descripcion: <input type="text" id="description" placeholder="Descripcion"> <br>
    Precio: <input type="number" id="price" placeholder="Precio"> <br>
    Codigo: <input type="text" id="code" placeholder="Code"> <br>
    Stock: <input type="number" id="stock" placeholder="Stock"> <br>
    <button id="btnEnviar">Enviar</button>
 </form>
 
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
 <script src="/js/main.js"></script>